<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>249946896369-7c5mos37dh1ste22ciola3jmo2lut9s9.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.249946896369-7c5mos37dh1ste22ciola3jmo2lut9s9</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>249946896369-vfflm67bb5sjt6mlbbsimlrnf9q54m0m.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCqdBGkgj4ZO9yVCZguxoQGLRQJ1l1lMoM</string>
	<key>GCM_SENDER_ID</key>
	<string>249946896369</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.calcaliente.calCaliente</string>
	<key>PROJECT_ID</key>
	<string>cal-caliente</string>
	<key>STORAGE_BUCKET</key>
	<string>cal-caliente.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:249946896369:ios:b34a30d913a4242b61b650</string>
</dict>
</plist>